@model FinanceManager.Account
@using FinanceManager

@{
    ViewBag.Title = "details";
    ViewBag.css = new String[] {"accountdetails", "jquery.datetimepicker"};
    Layout = "~/Views/Shared/Layout.cshtml";
    string message = ViewData["message"] as string;
    var account = ViewData["account"] as FinanceManager.Account;
}

<script src="/Scripts/jquery.datetimepicker.js"></script>
<script src="/Scripts/flot/jquery.flot.min.js"></script>
<script src="/Scripts/flot/jquery.flot.time.min.js"></script>

<h2>@Model.Name</h2>
<h3>Account details</h3>
<h4>@Model.Description</h4>

<hr>

Actions:
<a href="/account/delete?id=@Model.AccountID" class="btn btn-danger">Delete</a>
<a href="/account/edit?id=@Model.AccountID" class="btn btn-primary">Edit</a>
<a href="/account/createtransaction?id=@Model.AccountID" class="btn btn-default">Create transaction</a>

<hr>
@if (message != null) {
<div class="text-danger danger">@message</div>
}
<form class="form-inline" id="searchForm">
	<input type="hidden" name="id" value="@account.AccountID">
	<div class="form-group">
		<label for="dateFrom">From:</label>
		<input type="text" class="form-control" name="dateFrom" id="dateFrom" value='@ViewData["dateFrom"]'>
	</div>
	<div class="form-group">
		<label for="dateTo">To:</label>
		<input type="text" class="form-control" name="dateTo" id="dateTo" value='@ViewData["dateTo"]'>
	</div>
	<button type="submit" class="btn btn-primary">FILTER</button>
	<button onclick="removeFilter()" class="btn btn-default">REMOVE FILTER</button>
</form>
<script src="/Scripts/accountdetails.js"></script>
@if (Model.Transactions == null || !Model.Transactions.Any()) {
	<em>This account doesn't have any transactions</em>
} else {
	<table class="table">
		<thead>
			<th>Time</th>
			<th>Description</th>
			<th>Category</th>
			<th>Type</th>
			<th>Amount</th>
			<th>Balance</th>
			<th>Action</th>
		</thead>
		<tbody>
			@foreach (FinanceManager.Transaction t in Model.Transactions) {
				<tr class="row-@t.Type">
					<td>@t.TransactionTime</td>
					<td>@t.Description</td>
					<td>@t.Category.Name</td>
					<td>@t.Type</td>
					<td>@t.Amount</td>
					<td>@(t.BalanceAfter)</td>
					<td>
						<a href="/account/edittransaction?TransactionID=@t.TransactionID" class="btn btn-primary">Edit</a>
						<a href="/account/deletetransaction?TransactionID=@t.TransactionID" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div id="plot"></div>
	<script>
		data = [[]];
		data[0].push([@(Utils.DateToUnix(Model.Transactions.First().TransactionTime.Value.AddDays(-1)) * 1000), @account.Balance]);
		@foreach (var transaction in Model.Transactions) {
			@Html.Raw("data[0].push([" + transaction.TransactionTimeValue * 1000 + ", " + transaction.BalanceAfter + "]);\n");
		}
		$.plot("#plot", data, {xaxis:{mode:"time",timeformat: "%d.%m.%Y %H:%M"}});
	</script>
}