@model FinanceManager.User

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-horizontal" method="post" enctype="multipart/form-data">
<fieldset>

<!-- Form Name -->
<legend class="text-center"><h2>Register</h2></legend>

@Html.Raw(FinanceManager.HtmlHelpers.TextInput("Username", ViewData.ModelState["Username"], Model))
@Html.Raw(FinanceManager.HtmlHelpers.TextInput("Email", ViewData.ModelState["Email"], "email", Model))
@Html.Raw(FinanceManager.HtmlHelpers.TextInput("Password", ViewData.ModelState["Password"], "password", Model))
@Html.Raw(FinanceManager.HtmlHelpers.TextInput("Password2", ViewData.ModelState["Password2"], "password", Model))
@Html.Raw(FinanceManager.HtmlHelpers.TextInput("ImageFile", ViewData.ModelState["ImageFile"], "file", Model))

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">SUBMIT</button>
  </div>
</div>

</fieldset>
</form>
